<template>
	<div>
		<button title="start">
			<i class="glyphicon glyphicon-play"></i>
		</button>
		<button>
			<i class="glyphicon glyphicon-pause"></i>
		</button>
		<button>
			<i class="glyphicon glyphicon-stop"></i>
		</button>
	</div>
</template>

<style scoped>
</style>

<script></script>