<template>
	<div id="app" class="container">
		<h2>
			<span>{{ 'Pomodoro' | uppercase | addspace }}</span>
			<controls-component></controls-component>
		</h2>
		<state-title-component v-bind:isworking="isworking"></state-title-component>
		<countdown-component></countdown-component>
		<transition name="fade">
			<kittens-component v-show="!isworking"></kittens-component>
		</transition>
	</div>
</template>

<style>
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}
.fade-enter, .fade-leave-active {
	opacity: 0
}
</style>

<script>
	import ControlsComponent from './components/ControlsComponent'
	import StateTitleComponent from './components/StateTitleComponent'
	import KittensComponent from './components/KittensComponent'
	import CountdownComponent from './components/CountdownComponent'

	window.data = {
		kittens: true,
		isworking: true
	};

	export default {
		components: {
			ControlsComponent,
			StateTitleComponent,
			KittensComponent,
			CountdownComponent
		},
		data () {
			return window.data
		}
	}
</script>


